@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  background: #ded0bd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.header {
    display: flex;
    justify-content: center;
}

.create-videos-section {
    display: flex;
    justify-content: space-around;
}


.without-videos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;
}

.without-videos-info p {
    font-size: 30px;
    font-weight: 500;
}

.videos {
    margin-top: 23px;
    justify-content: space-around;
}

.videos .video {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
}

.videos .video li {
    flex: 1 0 23%;
    margin: 10px;
}

.videos .video li .fake-thumbnail {
    width: 120px;
    height: 120px;
    background-color: gray;
    margin: 0 auto;
}

.videos .video li .thumbs {
    display: flex;
    justify-content: space-around;
}

.themes {
    margin-top: 23px;
    justify-content: center;
}

.themes .theme {
    display: flex;
    flex-direction: column;

    list-style-type: none;
}

.themes .theme li {
    flex: 1 0 auto;
    margin: 5px;
    padding: 5px;
    background-color:#fbfafa;
}

.buttons-back {
    display: flex;
    justify-content: flex-end;
}
