{% extends "layout.jinja2" %}

{% block content %}
    <div class="create-videos-section">
        <a href="" class="btn btn-info" data-toggle="modal" data-target="#createVideoModal">Create New Video</a>
        <a href="/themes" class="btn btn-info" >Themes list</a>
    </div>

    {% if videos.count() == 0 %}
        <div class="without-videos-info">
            <p>Channel without videos :(</p>
        </div>
    {% endif %}

    {% if videos.count() > 0 %}
        <div class="videos">
            <ul class="video">
                {% for video in videos %}
                    <li>
                        <div class="text-center">
                            <i>{{ video.videoName }}</i>
                            <div class="fake-thumbnail"></div>
                            <i>{{ video.videoTheme }}</i>
                            <div class="thumbs">
                                <div>
                                    <i class="fas fa-thumbs-up" data-video-id="{{ video._id}}" onclick="sendUp(event)"></i>
                                    <span id="{{ video._id}}-up">
                                        {{ video.thumbs_up or 0}}
                                    </span>
                                </div>
                                <div>
                                    <i class="fas fa-thumbs-down" data-video-id="{{ video._id }}" onclick="sendDown(event)"></i>
                                    <span id="{{ video._id}}-down">
                                        {{ video.thumbs_down or 0}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}
