<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid channel youtube app">
    <meta name="author" content="Mario Idival">

    <title>Channel APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{request.static_url('channel:static/theme.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Youtube Channel</h1>
      </div>

      {% block content %}
        <p>no content</p>
      {% endblock content %}
    </div>


    <div class="modal fade" id="createVideoModal" tabindex="-1" role="dialog" aria-labelledby="createVideoModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new Video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="createModalForm">
              <div class="form-group">
                <label for="video-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="video-name" />
              </div>
              <div class="form-group">
                <label for="video-theme" class="col-form-label">Theme:</label>
                <input type="text" class="form-control" id="video-theme" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="createBtn" type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Channel information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <p class="modal-response">
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script charset="utf-8">
      function sendUp(event) {
        const target = event.target.attributes['data-video-id'].value;
        const request = new XMLHttpRequest();
        request.onreadystatechange = function() {
          if (request.readyState === XMLHttpRequest.DONE) {
            if (request.status === 200) {
              const data = JSON.parse(request.responseText);
              $(`#${target}-up`).text(data.thumbs_up);
            }
          }
        };

        request.open('POST', `/videos/${target}/up`, true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.send(JSON.stringify({}));
      };

      function sendDown(event) {
        const target = event.target.attributes['data-video-id'].value;
        const request = new XMLHttpRequest();
        request.onreadystatechange = function() {
          if (request.readyState === XMLHttpRequest.DONE) {
            if (request.status === 200) {
              const data = JSON.parse(request.responseText);
              $(`#${target}-down`).text(data.thumbs_down);
            }
          }
        };

        request.open('POST', `/videos/${target}/down`, true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.send(JSON.stringify({}));
      };

      const createBtn = document.getElementById("createBtn");
      createBtn.addEventListener('click', (event) => {
        const videoName = document.getElementById('video-name').value;
        const videoTheme = document.getElementById('video-theme').value;

        if (videoName === '' || videoTheme === '') {
          alert('Name or Theme empty');
          return;
        }

        const request = new XMLHttpRequest();
        request.onreadystatechange = () => {
          if (request.readyState === XMLHttpRequest.DONE) {
            if (request.status < 300) {
              $('#createVideoModal').modal('toggle');

              $('#responseModal').modal('show');
              $('.modal-response').text(`${videoName} video saved!`);

              setTimeout(() => {
                $('#responseModal').modal('hide');
                window.location.reload();
              }, 5000);
            } else if (request.status >= 400) {
              $('#createVideoModal').modal('toggle');

              $('#responseModal').modal('show');
              $('.modal-response').text(`${videoName} Already exists!`);

              setTimeout(() => {
                $('#responseModal').modal('hide');
              }, 5000);
            }
          }
        };

        request.open('POST', '/videos/new/', true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.send(JSON.stringify({ videoName: videoName, videoTheme: videoTheme }));

      });
    </script>
  </body>
</html>
