{% extends "layout.jinja2" %}

{% block content %}
    <div class="buttons-back">
        <a href="/" class="btn btn-info">Back</a>
    </div>
    <div class="themes">
        <ul class="theme">
            {% for theme in themes %}
                <li class="text-center">
                    <h3>{{ theme._id }}</h3>
                     <p>{{ theme.score }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
